SITE_URL=https://www.liaarmonia.com
STRIPE_SECRET_KEY=rk_live_...
STRIPE_PRICE_DESIGN_EDITION_01=price_...
STRIPE_WEBHOOK_SECRET=whsec_...
RESEND_API_KEY=re_...
RESEND_FROM=Lia Armonia <atelier@liaarmonia.com>
DESIGN_EDITION_NOTIFY_TO=atelier@liaarmonia.com
